{%  extends 'nav.html' %}

{% block title %}
View Courses
{% endblock %}

{%  block content %}
	{% load index %}
	<div class="container">
		{% if error %}
		<br>
		{{error}}
		{% else %}

			{% if all_courses %}
				<h3 class="center">View all courses</h3>
				{% if member.mtype == "AD" %}
					<!-- Admin format -->
					<table class="highlight">
						<thead>
							<th>Course Name</th>
							<th>Course Code</th>
							<th>Professor</th>
							<th>Semester</th>
							<th>Year</th>
							<th>View details</th>
						</thead>

						<tbody>
							{% for course in all_courses %}
							<tr>
								<td>{{course.name}}</td>
								<td>{{course.course_code}}</td>
								<td>{{ profs|index:forloop.counter0 }}</td>
								<td>{%  if course.semester == 1 %}
                                            Fall
                                       {% elif course.semester == 2 %}
                                            Spring
                                       {% else %}
                                            Summer
                                       {% endif %}</td>
								<td>{{course.added.year}}</td>
								<td><a href="{% url 'website:course_detail' course.pk %}" class="btn waves-effect">View</a></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>


				{% else %}
					<!-- Professor/TA side -->
					<br>
					<p class="center"><b>{{member.fullname}}</b></p>
					<table class="highlight">
						<thead>
							<th>Course Name</th>
							<th>Course Code</th>
							<th>Semester</th>
							<th>Year</th>
							<th>View details</th>
						</thead>

						<tbody>
							{% for course in all_courses %}
							<tr>
								<td>{{course.name}}</td>
								<td>{{course.course_code}}</td>
								<td>{%  if course.semester == 1 %}
                                            Fall
                                       {% elif course.semester == 2 %}
                                            Spring
                                       {% else %}
                                            Summer
                                       {% endif %}</td>
								<td>{{course.added.year}}</td>
								<td><a href="{% url 'website:course_detail' course.pk %}" class="btn waves-effect">View</a></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>

				{% endif %}
			
			{% else %}
				<div class="row">
<div class="col s8 offset-m2">
    <h4 style="font-weight: 200; color: #f00;text-align: center">No courses available now.</h4>
        </div></div>
			{% endif %}

		{% endif %}
	</div>
{% endblock %}